[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = {extras = ["all"], version = "*"}
tabulate = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
coverage = "*"
pyinstaller = "*"
setuptools = "==69.0.2"
build = "*"

[requires]
python_version = "3.10"
